* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Oswald", sans-serif;
}

body {
    color: #fff;
    background: #000;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 13%;
    background: transparent;
    transition: all ease .50s;
    z-index: 1000;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.navlist {
    display: flex;
}

.navlist a {
    margin: 0 30px;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all ease .50s;
    z-index:1;
}

.navlist a:hover{
    border-bottom: 2px solid #fff;
}
.navlist a:active {
    border-bottom: 2px solid #fff;
}

.right-nav {
    display: flex;
    align-items: center;
}

.h-btn {
    display: inline-block;
    padding: 9px 20px;
    border: 1px solid #f5dca8;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    margin-right: 20px;
    color: #fff;
    transition: all ease .50s;
}

.h-btn:hover {
    transform: scale(1.06);
    color: #ffffff;
    background: #fff;
    border: 1px solid #fff;
}

/* FIX 1: Added color/style to menu icon */
.menu-icon {
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    color: #fff;
    display: none; /* Hidden by default */
}

.section {
    padding: 0 13%; /* Added padding for consistency */
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../ff.jpg);
    background-size: cover;
    background-position: center bottom;
}

.container {
    padding-top: 250px;
}

.container h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.container h1 {
    font-size: 100px;
    margin: 0 0 30px;
    line-height: 1;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.container h3 {
    font-size: 18px;
    font-weight: 600;
}

.container p {
    width: 500px;
    max-width: 100%;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 50px;
}

.container a {
    display: inline-block;
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    padding: 9px 25px;
    line-height: 1.4; /* Corrected from 14px, usually too small */
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: all ease .50s;
}

.container a:hover {
    transform: scale(1.06);
    color: #fff;
    background: transparent;
    border: 1px solid #f5dca8;
}

.container a.cta {
    border: 1px solid #f5dca8;
    color: #fff;
    background: transparent;
    margin-left: 20px;
}
.container a.cta:hover{
    color: #000;
    background: #fff;
    border: 1px solid #fff;
}
.container a.cta i{
    margin-right: 8px;

}
.social{
    position: absolute;
    bottom: 5%;
    left: 13%;
}
.social i{
    display: inline-block;
    color: #f5dca8;
    margin-left: 22px;
    font-size: 24px;
    transition: all ease .50s;
}
.social i:hover{
    color: #fff;
    transform: translateY(-5px);
    
}
@media (max-width:1450px){
    header{
        padding: 17px 8%;
    }
    section{
        padding: 0 8%;
    }
    .social{
        left: 8%;
    }
    .container{
        padding-top: 230px;
    }
}
@media (max-width:1100px){
    .container h1{
        font-size: 80px;
        margin: 0px 0px 25px;
    }
    .container p{
        margin-bottom: 30px;

    }
    .container h6{
        margin-bottom: 20px;
    }

}
@media (max-width:950px){
    header{
        padding: 0 5%;
    }
    .social{
        left: 5%;
    }
}
@media (max-width:860px){
    #menu-icon{
        display: block; /* Show the icon */
    }
    /* FIX 2: Correctly position the mobile menu off-screen to the right */
    .navlist{
        position: fixed; /* Use fixed instead of absolute to cover the whole viewport reliably */
        width: 100%;
        height: 100vh;
        padding: 50px 50px;
        top: 0;
        right: -100%; /* Start off-screen */
        /* Removed original left: 100px; */
        display: flex;
        flex-direction: column;
        background: #db8c1c;
        transition: all ease .50s;
    }
    .navlist a{
        display: block;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2.1rem;
        font-weight:400;
        color: #f5dcac;
        border-bottom: none;
    }
    .navlist a.active{
        border-bottom: none;
        color: #fff;

    }
    .navlist a:hover{
        border-bottom: none;
        color: #fff;

    }
    /* FIX 3: Changed the selector from .navlist a.open to .navlist.open and set right: 0; */
    .navlist.open{
        right: 0;
    }

}
@media (max-width:535px){
    .container h1{
        font-size: 70px; /* FIX 4: Corrected property to font-size */
    }
}
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');